@import url('https://fonts.googleapis.com/css2?family=Arizonia&display=swap');
html,body{
    padding: 0;
    margin: 0;
    background-color: black;
}
.container {
    background-color: black;
    width: 100%;
    height: 950px;
    margin-top: 230px;
}
h1 {
    margin:5px auto 50px auto;
    color:#ffffff;
    text-align:center;
    font-family: 'Arizonia', cursive;
    font-size: 50px;
    letter-spacing: 2px;
    text-shadow: #F0BA03 1px 0 10px;
}

#tree{
    position:relative;
    width: 100%;
    height: 250px;
    z-index: 1;
}

.snow {
    position: relative;
    float: inherit;
    width: 100%;
    height: 240px;
    z-index: 1;
    background-color:black;
    padding-top: 5px;
}
